body{background:#000;color:#fff;font-family:Arial}
header{padding:20px;text-align:center}
input{padding:10px;width:80%}
#movies{display:grid;grid-template-columns:repeat(auto-fill,200px);gap:20px;justify-content:center}
.card{background:#111;padding:10px;border-radius:10px}
.card img{width:100%;border-radius:10px}
a{color:#0f0;text-decoration:none}
iframe{width:100%;height:70vh;border:none}
footer{text-align:center;margin:30px}
