body{
  margin:0;
  background:#000;
  color:#fff;
  font-family:Arial;
}
header{
  padding:15px;
  background:#111;
  display:flex;
  justify-content:space-between;
}
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
  gap:15px;
  padding:15px;
}
.card{
  background:#111;
  border-radius:8px;
  overflow:hidden;
}
.card img{
  width:100%;
}
.card h3{
  margin:10px;
}
button{
  background:#e50914;
  color:#fff;
  border:none;
  padding:10px;
  width:100%;
  cursor:pointer;
}
.rating{color:gold;margin:0 10px}
